body {
	margin-left: 20px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Navigation */
nav {
	position: fixed;
	top: 0; left: 0;
	display: flex;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #bfbfbf;
	padding-top: 10px;	
	box-shadow: 0px 0px 5px gray;
	background-color: white;
	z-index: 999;
}

nav .left-buttons {
	display: flex;
	width: 20%;
	height: 50px;
}

nav .left-buttons ul {
	align-self: center;
	min-width: 400px;
}

nav .left-buttons ul li {
	display: inline;
	margin-left: 5px;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	transition: all 0.3s;
}

nav a:hover {
	background-color: #f2f2f2;
}


nav .header-center {
	width: 100%;
	height: 50px;
	text-align: center;
}

nav .header-center img {
	height: 50px;
}

nav .header-right {
	position: relative;
	width: 25%;
	height: 50px;
	padding-right: 40px;
}

nav .header-right .button-wrap {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.button-wrap a {
	background-color: #809fff;
	border-radius: 5px;
	color: white;
}

.button-wrap a:hover {
	background-color: #4d79ff;
}

/* Misc */
h1.cursive {
	font-family: cursive;
}

/* content */
article {
	margin-top: 100px;
	width: 100%;
}

article h1 {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 50px;
}

article h2 {
	border-top: 1px solid black;
	font-weight: bolder;
}

.info-container {
	display: flex;
	width: 100%;
	height: 70px;
	align-items: center;
	margin-top: 10px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}

.item {
	margin-right: 20px;
	line-height: 50px;
}

.article-image {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.article-image p{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.8;
}

.article-image img {
	width: 80%;
}

.article-par {
	margin-left: 10%;
	margin-right: 40%;
	font-size: 1.2em;
}

.article-par p {
	margin-bottom: 15px;
	opacity: 0.9;
}

.article-par h2 {
	border: none;
	margin-bottom: 25px;
	margin-top: 25px;
}

.inflation-container {
	position: relative;
	width: 800px;
	margin-bottom: 40px;
}

.inflation-container img {
	height: 600px;
	width: 1000px;
	
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}

.inflation-container strong {
	font-weight: bolder;
}

/* inflation container images info */
.inf {
	position: absolute;
	width: 200px;
	font-size: 0.8em;
}

.inf-1 {
	top: 26%;
	left: 0;
}

.inf-2 {
	top: 26%;
	left: 32%;
}

.inf-3 {
	top: 26%;
	left: 64%;
}

.inf-4 {
	top: 26%;
	left: 96%;
}

.inf-5 {
	top: 72%;
	left: 0;
}

.inf-6 {
	top: 72%;
	left: 32%;
}

.inf-7 {
	top: 72%;
	left: 64%;
}

.inf-8 {
	top: 72%;
	left: 96%;
}

.inf-title {
	position: absolute;
	opacity: 0.7;
	left: 0;
	bottom: -40px;
}

.iframe-container {
	position: relative;
	width: 800px;
	left: -25px;
	margin-bottom: 40px;
}

.iframe-container p {
	opacity: 0.7;
	font-size: 0.75em;
}
